<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MySite | LogIn</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style3.css') }}" />
  </head>
  <body class="container">

    <form action="/login" method="post" class="login-form">
      <h1>Log In</h1>
      <div class="flex-input">
        <label for="">Email:</label>
        <input type="email" name="email" id="" required/>
      </div>
      <div class="flex-input">
        <label for="">Password:</label>
        <input type="password" name="password" id="" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
      </div>
      <div>
        <input type="submit" value="Login" name="login"/>
      </div>
      <div class="flex-container">
        <div>
          <input type="checkbox" name="" id="" />
          <span>Remember me</span>
        </div>
        <div style="text-align: right">
          <a href="/signup">SignUp</a>
        </div>
      </div>
    </form>
  </body>
</html>
