<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MySite | Signup</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style3.css') }}" />
  </head>
  <body class="container">

  
  
    <form action="/signup" method="post" class="login-form">
      <h1>Sign Up</h1>
      <div class="flex-input">
        <label for="">Name:</label>
        <input type="text" name="name" id="" required/>
      </div>
      <div class="flex-input">
        <label for="">Email:</label>
        <input type="email" name="email" id="" required/>
      </div>
      <div class="flex-input">
        <label for="">Password:</label>
        <input type="password" name="password" id="" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
      </div>
      <div>
        <input type="submit" value="Sign Up" name="signup"/>
      </div>
      <div class="flex-container">
        <div style="text-align: right">
          <span>Already signed up? <a href="http://localhost/php/login/login.html">Sign In</a></span>
        </div>
      </div>
    </form>
  </body>
</html>
